@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}
<h2>Movies</h2>
<hr />
<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("New")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>New Movie</span>
</a>
<br />
<br />

<table class="table table-striped">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th></th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id })</td>
            
            <td>@movie.Genre.Name</td>

            <td>
                <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = movie.Id })">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Edit</span>
                </a>

                <a type="button" class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = movie.Id })">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete</span>
                </a>

            </td>

        </tr>
    }


</table>

