@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Customer</h2>
<hr />
<br />
<br />


@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select MembershipType", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>

    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-list"></span>
        <span>Back To List</span>
    </a>

    <button type="submit" class="btn btn-primary btn-sm">Save</button>
}